<div class = "background">
  <div class = "tint">
    <div class = "base">
      <h2 style = "text-align: center;font-family: roboto-light;">Profile</h2><br><br>
      <div class = "row">
        <div class = "col-sm-3">
          
          <img src = "/assets/bigcircle.png" class = "profilePicture">
        </div>

        <div class = "col-sm-9">
          <table>
            <tr>
              <td><span class="fields">First Name:</span></td>
              <td><span class = "fields" contenteditable="true"> FNAME </span></td>
            </tr>

            <tr>
              <td><span class="fields">Second Name:</span></td>
              <td><span class = "fields" contenteditable="true"> SNAME </span></td>
            </tr>

            <tr>
              <td><span class="fields">Username:</span></td>
              <td><span class = "fields" contenteditable="true"> UNAME </span></td>
            </tr>

            <tr>
              <td><span class="fields">E-mail:</span></td>
              <td><span class = "fields" contenteditable="true"> EMAIL </span></td>
            </tr>

            <tr>
              <td><span class="fields">Phone:</span></td>
              <td><span class = "fields" contenteditable="true"> PHONE </span></td>
            </tr>

            <tr>
              <td><span class="fields">House:</span></td>
              <td><span class = "fields" contenteditable="true"> HOUSE </span></td>
            </tr>

            <tr>
              <td><span class="fields">Pincode:</span></td>
              <td><span class = "fields" contenteditable="true"> PINCODE </span></td>
            </tr>

            <tr>
              <td><span class="fields">City:</span></td>
              <td><span class = "fields" contenteditable="true">CITY </span></td>
            </tr>
          
            </table>
            <br>

        </div>

      </div>
    </div>
  </div>
</div>