<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dot <i>Class</i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" *ngIf="name">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img [src]="profilepic" style="height: 25px;border-radius: 100%;"> {{name}}
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/dashboard">Settings</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>