<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Dot <i>Class</i></a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <button md-button class="btn-primary" (click)="routeCreateClassroom();" *ngIf="userService.getUserType() == 'Teacher'" style="margin-top: 7px;">Create Classroom</button>
                <button md-button class="btn-primary" (click)="routeJoinClassroom();" *ngIf="userService.getUserType() == 'Student'" style="margin-top: 7px;">Join Classroom</button>
            </li>
            <li class="dropdown" *ngIf="name">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img [src]="profilepic" style="height: 15px;border-radius: 100%;"> {{name}}
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/dashboard">Settings</a></li>
                    <li><a role="button">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>