.login-register{
/* min-height: 100vh !important; */
/* height: 100vh !important; */
}


.body{
    height: 90vh;
    background-image: url("/assets/login-background.jpg");
}

.body2{
    height: 90vh;
    background: rgb(0,0,0,0.3);    
}

@font-face {
  font-family: roboto-thin;
  src: url(/assets/roboto/Roboto-Thin.ttf);
}

@font-face {
  font-family: roboto-light;
  src: url(/assets/roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: roboto-black-italic;
  src: url(/assets/roboto/Roboto-BlackItalic.ttf);
}

