<div class = "body">
  <div class = "body2">
<div class="container login-register">
<div class = "row">

  <div class = "col-sm-7" style = "margin-top:23%; color: white; font-family: roboto-black-italic;">
    <h2>Where technology meets learning.</h2>
  </div>

  <div class = "col-sm-5">
      <md-card style = "margin-top: 20%;">
        <md-tab-group style="align-items: center">
          <md-tab label="Login">
            <br>
            <form class="login">

              <md-form-field>
                <input mdInput placeholder="Username">
              </md-form-field>
              <br>
              <md-form-field>
                <input mdInput placeholder="Password">
              </md-form-field>
              <br><br>
              <md-radio-group>
                <span style="color: #646363">I am a:  <br><br>
                <md-radio-button value="1">Student</md-radio-button> <br>  
                <md-radio-button value="2">Instructor</md-radio-button>
                </span>
              </md-radio-group>
              <br><br>
              <button md-raised-button>Login</button>

            </form>
          </md-tab>

          <md-tab label="Register" style = "align-items: center">
            <br>
            <form class="register">
              <table cellspacing="2" align="right">

                <tr>
                  <td colspan = "3">
                    <md-form-field>
                      <input mdInput placeholder="First Name">
                    </md-form-field>
                  </td>
                  <td colspan = "3">
                    <md-form-field>
                      <input mdInput placeholder="Last Name">
                    </md-form-field>
                  </td>
                </tr>

                <tr>
                  <td colspan = "3">
                    <md-form-field>
                      <input mdInput placeholder="Username">
                    </md-form-field>
                  </td>
                  <td colspan = "3">
                    <md-form-field>
                      <input mdInput placeholder="Password">
                    </md-form-field>
                  </td>
                </tr>

                <tr>
                  <td colspan = "3">
                    <md-form-field>
                      <input mdInput placeholder="Email">
                    </md-form-field>
                  </td>
                  <td colspan = "3">
                    <md-form-field>
                      <input mdInput placeholder="Phone Number">
                    </md-form-field>
                  </td>
                </tr>
                
                <tr>
                  <td colspan = "2">
                    <md-form-field style = "width:100%;">
                      <input mdInput placeholder="City">
                    </md-form-field>
                  </td>
                  <td colspan = "2">
                    <md-form-field style = "width:100%;">
                      <input mdInput placeholder="Pincode">
                    </md-form-field>
                  </td>
                  <td colspan = "2">
                    <md-form-field style = "width:100%;">
                      <input mdInput placeholder="House">
                    </md-form-field>
                  </td>
                </tr>

              </table>

              <br><br>
              <md-radio-group>
                <span style="color: #646363">I am a:  <br><br>
                <md-radio-button value="1">Student</md-radio-button> <br>  
                <md-radio-button value="2">Instructor</md-radio-button>
                </span>
              </md-radio-group>
              <br><br>
              <button md-raised-button>Register</button>

            </form>
          </md-tab>

        </md-tab-group>
      </md-card>
    </div>
    </div>
  </div>
  </div>
  </div>

