<div class="body">
    <div class="body2">
        <div class="container login-register">
            <div class="row">

                <div class = "col-sm-1"></div>

                <div class="col-sm-4" style="margin-top:23%; color: white; font-family: roboto-black-italic;">
                    <h2>Where technology meets learning.</h2>
                </div>

                <div class = "col-sm-2"></div>  

                <div class="col-sm-5">
                    <md-card style="margin-top: 20%;">
                        <md-tab-group style="align-items: center">
                            <md-tab label="Login">
                                <app-login></app-login>
                            </md-tab>
                            <md-tab label="Register" style="align-items: center;">
                                <app-register></app-register>
                            </md-tab>
                        </md-tab-group>
                    </md-card>
                </div>
            </div>
        </div>
    </div>
</div>