.login-register {
    /* min-height: 100vh !important; */
    /* height: 100vh !important; */
}

.wrapper {
    height: 100%;
    background-image: url("/assets/login-background.jpg");
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: roboto-thin;
    src: url(/assets/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(/assets/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-black-italic;
    src: url(/assets/roboto/Roboto-BlackItalic.ttf);
}