<br>
<form class="login">

    <md-form-field>
        <input mdInput placeholder="Username">
    </md-form-field>
    <br>
    <md-form-field>
        <input mdInput placeholder="Password">
    </md-form-field>
    <br><br>
    <md-radio-group>
        <span style="color: #646363">I am a:  <br><br>
                <md-radio-button value="1">Student</md-radio-button> <br>  
                <md-radio-button value="2">Instructor</md-radio-button>
                </span>
    </md-radio-group>
    <br><br>
    <button md-raised-button>Login</button>

</form>