<h2 md-dialog-title style="text-align:center;">Change Password</h2>
<md-dialog-content>
    <form #changePassword="ngForm">
        <md-form-field>
            <input mdInput type="password" placeholder="Current Password" name="currentpass" [(ngModel)]="currentPassword" required minlength="4">
        </md-form-field>
        <md-form-field>
            <input mdInput type="password" placeholder="New Password" name="newPass" [(ngModel)]="newPassword" required minlength="4">
        </md-form-field>
        <md-form-field>
            <input mdInput type="password" placeholder="Confirm Password" name="confirmPass" [(ngModel)]="confirmPassword" required minlength="4">
        </md-form-field>
        <div class="row" style="text-align:center;color: red;font-weight:600;">
            {{error}}
        </div>
        <div class="row" style="text-align:center;">
            <button md-button class="" [disabled]="!changePassword.form.valid" (click)="changePasswordHelper();">Submit</button>
            <button md-button class="" md-dialog-close>Cancel</button>
        </div>
    </form>
</md-dialog-content>